@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Passion+One&display=swap');

*::-moz-selection {
    /* Code for Firefox */

    background: rgb(226, 222, 248);
}

*::selection {
    background: rgb(226, 222, 248);
}

h1 {
    @apply font-black text-5xl text-slate-900;
}
h2 {
    font-family: 'Noto Sans';
    @apply font-light text-slate-900 text-xl;
}

p {
    font-family: 'Roboto';
    line-height: 2rem;
}

body {
    @apply bg-lightgrey;
}

.listCategories {
    @apply bg-white rounded-lg p-4 my-4 shadow w-full;
}

.listCategories:nth-child(1) {
    margin: unset;
    border-left: 1rem solid rgb(166, 241, 210);
}
